<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salão de Beleza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo do Salão" class="logo">
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Avenida da Saudade, 740 - Cosmópolis/SP | (19) 3812-1381 | Ter a Dom - 08:00 às 19:00</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
