{% extends "base.html" %}
{% block content %}
<h2>Meus Agendamentos</h2>

<h3>Agendamentos Abertos</h3>
<table>
    <tr>
        <th>Data e Hora</th>
        <th>Profissional</th>
        <th>Serviço</th>
        <th>Ações</th>
    </tr>
    {% for agendamento in agendamentos_abertos %}
    <tr>
        <td>{{ agendamento.data_agendamento }} {{ agendamento.hora_agendamento }}</td>
        <td>{{ agendamento.profissional.nome_completo }}</td>
        <td>{{ agendamento.servico.nome_servico }}</td>
        <td>
            <form action="{{ url_for('excluir_agendamento', id=agendamento.id) }}" method="post" style="display:inline;">
                <button type="submit">Cancelar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Agendamentos Concluídos</h3>
<table>
    <tr>
        <th>Data e Hora</th>
        <th>Profissional</th>
        <th>Serviço</th>
    </tr>
    {% for agendamento in agendamentos_concluidos %}
    <tr>
        <td>{{ agendamento.data_agendamento }} {{ agendamento.hora_agendamento }}</td>
        <td>{{ agendamento.profissional.nome_completo }}</td>
        <td>{{ agendamento.servico.nome_servico }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('agendar') }}">Agendar Novo Serviço</a>
{% endblock %}
