{% extends "base.html" %}
{% block content %}
<h2>Agendar Serviço</h2>
<form method="POST" action="{{ url_for('agendar') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.data_agendamento.label }} {{ form.data_agendamento }}
    </div>
    <div>
        {{ form.hora_agendamento.label }} {{ form.hora_agendamento }}
    </div>
    <div>
        {{ form.profissional.label }} {{ form.profissional }}
    </div>
    <div>
        {{ form.servico.label }} {{ form.servico }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}
