{% extends "base.html" %}
{% block content %}
<h2>Editar Profissional</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.cpf.label }} {{ form.cpf(readonly=True) }}
    </div>
    <div>
        {{ form.nome_completo.label }} {{ form.nome_completo }}
    </div>
    <div>
        {{ form.telefone.label }} {{ form.telefone }}
    </div>
    <div>
        {{ form.email.label }} {{ form.email }}
    </div>
    <div>
        {{ form.especialidade.label }} {{ form.especialidade }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}
