{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Editar Serviço</h2>
    <form method="POST" action="{{ url_for('edit_servico', id=servico.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome_servico.label }} {{ form.nome_servico(class="form-control", value=servico.nome_servico) }}
        </div>
        <div class="form-group">
            {{ form.especialidade.label }} {{ form.especialidade(class="form-control", value=servico.especialidade) }}
        </div>
        <div class="form-group">
            {{ form.duracao_estimada.label }} {{ form.duracao_estimada(class="form-control", value=servico.duracao_estimada) }}
        </div>
        <div class="form-group">
            {{ form.valor.label }} {{ form.valor(class="form-control", value=servico.valor) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
