{% extends "base.html" %}
{% block content %}
<h2>Editar Serviço</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.nome_servico.label }} {{ form.nome_servico }}
    </div>
    <div>
        {{ form.especialidade.label }} {{ form.especialidade }}
    </div>
    <div>
        {{ form.duracao_estimada.label }} {{ form.duracao_estimada }}
    </div>
    <div>
        {{ form.valor.label }} {{ form.valor }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}
